* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f2f2f2;
}
.header1{
    height: 60px;
    background-color: black ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* #ff9946 */
/*  **part1 ** */
/* #ff6200 */
.head-logo{
    height: 50px;
    width: 110px;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover ;
    height: 50px;
    width:100%; 
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/* **part2** */
.first_add{
    font-size: 0.8rem;
    color: #cccccc;
    margin-left: 20px;
}
.second_add{
    font-size: 1rem;
    color: white;
    margin-left: 1px;
}
i{
    color: white;
}
.icon{
    display: flex;
}
/* **Part 3** */
.searchbar{
    display:flex;
    justify-content: space-evenly;
    background-color: #cccccc;
    border-radius: 3px;
    width: 900px;
    height: 40px;
}
.search-select{
    width: 50px;
    background-color: aliceblue;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.searchInput{
    width: 100%;
    border: none;
    font-size: 1rem;
}
.searchIcon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.2rem;
    background-color: #ff9946;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.searchbar:hover{
    border: 2px solid orange;
}

/* **part 4 and 5** */
.signIn{
    color: white;
    font-size:0.85rem;
}
.nav-sign{
    color: white;
    font-weight: 800;
}
/* **Part 6** */
.cart i {
    font-size: 30px;
}
.cart{
    color: white;
    size: 0.85rem;
    font-weight: 700;
}

/* **Header 2** */
.header2{
    height: 40px;
    background-color: #ff9946;
} 
.menu-option {
    font-size: 1.1rem; 
    font-weight: 700; 
}
.menu-option i{
    color: black;
}
.header2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header-option p{
    display: inline ;
    margin-left: 15px;
}
.header-option{
    width: 95%;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 15px;
}
.header-part3{
    background-color:white;
    box-shadow: black;
}
.header3{
    height:2.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
}

.option-header{
    border-radius:.4rem;
    background-color: rgb(239, 238, 238);
    border: none;
    margin-right: 2rem;
    height: 1.75rem ;
    width: 9%;
}


.container {
    display: flex;
    padding: 10px;
    gap: 10px;
}

/* LEFT FILTERS */
.filters {
    width: 220px;
    background: white;
    padding: 10px;
    border-radius: 6px;
}

.filters h3 {
    margin-bottom: 5px;
}

.filter-group {
    margin-bottom: 5px;
}

.filter-group h4 {
    margin-bottom: 8px;
}

.filter-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.products {
    flex: 1;
}

.product-row {
    display: flex;
    background: white;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 6px;
    gap: 20px;
}


.product-img {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}


.product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-title {
    font-size: 16px;
    font-weight: bold;
    color: #007185;
    text-decoration: none;
    margin-bottom: 6px;
}

.product-title:hover {
    text-decoration: underline;
}

.rating {
    font-size: 14px;
    margin-bottom: 6px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

button {
    width: 120px;
    padding: 8px;
    background-color: #ffd814;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #f7ca00;
}